@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

.calendar-page .todo-popup {
    position: absolute;
    z-index: 99;
	transform: translate(-50%,-50%);
	top: 50%;
	left: 50%;
}

.todo-container {
    display: block;
    position: relative;
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 24px 38px 3px rgb(0 0 0 / 14%), 0px 9px 46px 8px rgb(0 0 0 / 12%), 0px 11px 15px -7px rgb(0 0 0 / 20%);
}

.todo-container .todo-header {
    display: flex;
    position: relative;
    padding: .3em;
    background-color: #c2c6ca;
    font-weight: 700;
}

.todo-container .todo-header span {
    padding: 0 .5em;
}

.todo-container .todo-header p {
    padding: 0;
    margin: 0;
    flex-grow: 1;
}

.todo-container .todo-header .close-form {
    background-color: transparent;
    font-weight: 700;
    font-size: 1.5em;
    line-height: 1;
    border: 0;
}

.todo-container .todo-header .close-form:hover {
    color: #fff;
}

/* FORM */
.todo-container .todo-body {
    display: block;
    min-width: 360px;
}

.form-container {
    padding: 1em;
}

.form-container .form-area {
    box-shadow:  0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
    border-radius: 4px;
    padding: 1em;
}

.form-container .form-area input {
    border: 0;
    border-bottom: 1px solid lightgray;
    border-radius: 0;
}

.form-container .form-area input:hover {
    border-bottom: 2px solid #000;
}

.required-field {
    color: rgb(207, 8, 8);
}

.save-button {
    border: 1px solid rgb(181, 192, 197);
    color: #000;
}

.save-button:hover {
    background-color: rgb(3, 155, 229);
    border-color: rgb(3, 155, 229);
}

/* LIST */
.list-container {
    padding: 1em;
    padding-top: 0;
}

.list-container ul {
    box-shadow:  0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
    border-radius: 4px;
    padding: 1em;
    list-style: none;
}

.list-container ul li {
    position: relative;
}

.list-container ul li .todo-item {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    text-align: left;
    position: relative;
    text-decoration: none;
    justify-content: flex-start;
}

.list-container ul li .todo-item div.done-todo {
    color:rgb(181, 192, 197);
    text-decoration: line-through;
}

.list-container ul li .todo-item span input {
    top: 0;
    left: 0;
    cursor: pointer;
    height: 100%;
    padding: 0;
    z-index: 1;
}

.list-container ul li .todo-item div {
    padding-left: .5em;
}

.list-container ul li .todo-delete {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    cursor: pointer;
}
