@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

.icon {
    font-family: 'Material Icons', serif;
    font-style: normal;
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';
}


/* Calendar */
.calendar {
    /* position: absolute; */
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    background: white;
    border: 1px solid lightgray;
    height: auto;
}
.calendar .header {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 170%;
    padding: .5em 0;
    border-bottom: 1px solid lightgray;
}
.calendar .header .icon {
    cursor: pointer;
    transition: .15s ease-out;
}
.calendar .header .icon:hover {
    transform: scale(1.75);
    transition: .25s ease-out;
    color: dodgerblue;
}

.calendar .days {
    text-transform: uppercase;
    font-weight: 400;
    color: gray;
    font-size: 70%;
    padding: .75em 0;
    border-bottom: 1px solid lightgray;
}
.calendar .body {
    position: relative;
}
.calendar .body .loading {
    position: absolute;
    top: 50%;
    left: 50%;
}
.calendar .body .cell {
    position: relative;
    height: 6em;
    border-right: 1px solid lightgray;
    overflow: hidden;
    cursor: pointer;
    background: white;
    transition: 0.25s ease-out;
    padding: 0 .1em;
}
.calendar .body .cell:hover {
    background: whitesmoke;
    transition: 0.5s ease-out;
}
.calendar .body .selected {
    border-image-slice: 1;
}
.calendar .body .row {
    border-bottom: 1px solid lightgray;
}
.calendar .body .row:last-child {
    border-bottom: none;
}
.calendar .body .cell:last-child {
    border-right: none;
}

.calendar .body .cell .day-top {
    display: flex;
    flex-direction: row-reverse;
}
.calendar .body .cell .number {
    position: relative;
    font-size: 82.5%;
    line-height: 1;
    padding: .5em;
    font-weight: 700;
}
.calendar .body .cell:hover .number, .calendar .body .selected .number   {
    visibility:hidden;
}
.calendar .body .disabled {
    color: lightgray;
    pointer-events: none;
}
.calendar .body .cell .bg {
    font-weight: 700;
    line-height: 1;
    color: #f1d653;
    opacity: 0;
    font-size: 1.5em;
    position: absolute;
    top: .05em;
    right: .1em;
    transition: .25s ease-out;
    letter-spacing: -.07em;
}
.calendar .body .cell:hover .bg, .calendar .body .selected .bg  {
    opacity: 0.5;
    transition: .15s ease-in;
}

.calendar .body .cell .day-body {
    display: flex;
}
.calendar .body .contents {
    position: relative;
    left: 0em;
    list-style:none;
    text-align: left;
    margin: 0;
    padding: 0;
    width: 100%;
}
.calendar .body .contents li {
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 16px;
    background-color: rgb(3, 155, 229);
    color: #fff;
    margin-bottom: .1em
}


.calendar .body .contents li span {
    font-size: 12px;
    font-weight: 400;
    letter-spacing: .4px;
}

/* GRID */
.row {
    margin: 0;
    padding: 0;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
.row-middle {
    align-items: center;
}
.column {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
}
